
#loading
  -#.loading-title A 50th Birthday Gift...
  -#%img(src="/images/cake.gif" alt="Birthday Cake" title="Birthday Cake" class="load-img")
  %img(src="/images/cake.png" alt="Birthday Cake" title="Birthday Cake" class="swapImage {src: 'images/cake2.png'} load-img")
  //%img(src="images/cake2.png" alt="Birthday Cake Hover" title="Birthday Cake" class="hover-img")
  .loading-title Happy 50th Birthday dad!
  %br<
  #card-container
    %a{:href => "#", :class => "card"}<
      click me
    %br<
    %br<
    %p{:style => "display:none"}
      So where do I start, I guess by saying Happy Birthday dad!! It's truly unfortunate that I was not able to go back to Shanghai to celebrate with you because I really wanted to. But, it sounds like you guys are having a nice dinner and celebration with friends which I'm sure will be just lovely. I'm sure we will also celebrate in our own way later on in the year. A 50th birthday celebration probably lasts a whole year right? Not just a day. In all honesty though, I must take this moment to say thanks for all the hard work you continually put in for the family year after year! I think it's been at least 25 years non-stop and for that we are truly grateful. You and mom have given us all that we have and we wouldn't be where we are today without you guys! Thanks! 
    %p{:style => "display:none"}
      On a different note, I think one of the most important things for you to realize this year on your birthday, dad, is that life has just begun. I was so happy to see you pick up your photography again last year and I hope you continue with it. Just as mom has begun to pick up some other hobbies as well (such as her iPad, haha). Keep it up man! Work is fun I'm sure :P, but it's not all that life is about. Don't forget the other subtleties and enjoyments. With this, I must explain my gift. I bought this domain for your website with the intentions of building a full-blown photo-album site just for you. However, due to time constraints I only got just past the design stages and only just started coding the website. Nonetheless, I look at it as a good thing as well because in this case I can actually talk with you about what type of site you want to design and we can work on it together. It will be quite a fun project! I hope with this you can really showcase all of your photos, hobbies and maybe even start a "blog". It sounds to me like your college friends are getting in to this so it's never too late for you to start right? Plus, you have so many wise talks with us, perhaps you should share them with the world as well.
    %p{:style => "display:none"}
      Thus, on this joyous 50th birthday of yours, I present to you "www.louislin.com". In a way, it's like giving you a blank sheet of paper for you to share yourself with the world. Exciting, daunting and perhaps time consuming. Nonetheless, I think we will have fun doing it. Happy 50th Birthday dad! We'll celebrate some more next time I see you. I'm sure it will come sooner than later. 
    %p{:style => "display:none"}
      Your son, 
    %p{:style => "display:none"}
      Wayne
    %p{:style => "display:none"}
      September 24, 2010
/  
  #menu
    %ul 
      %li<
        %a{:href => "#"}<
          home
      %li<
        %a{:href => "#"}<
          albums
      %li< 
        %a{:href => "#"}<
          about
/
  #site
    #container
      -# Home
      #block_1{:class => "square square-1"}
        #polaroid
          %h1 Louis Lin
        %div.filmstrip.filmstrip-beg
        %div.filmstrip.filmstrip-01

