
#loading
  .loading-title A 50th Birthday Gift...
  //%img(src="/images/cake.gif" alt="Birthday Cake" title="Birthday Cake" class="load-img")
  .loading-title ...from a son to a father

/  
  #menu
    %ul 
      %li<
        %a{:href => "#"}<
          home
      %li<
        %a{:href => "#"}<
          albums
      %li< 
        %a{:href => "#"}<
          about
/
  #site
    #container
      -# Home
      #block_1{:class => "square square-1"}
        #polaroid
          %h1 Louis Lin
        %div.filmstrip.filmstrip-beg
        %div.filmstrip.filmstrip-01

