
#loading
  -#.loading-title A 50th Birthday Gift...
  -#%img(src="/images/cake.gif" alt="Birthday Cake" title="Birthday Cake" class="load-img")
  %img(src="/images/cake.png" alt="Birthday Cake" title="Birthday Cake" class="swapImage {src: 'images/cake2.png'} load-img")
  //%img(src="images/cake2.png" alt="Birthday Cake Hover" title="Birthday Cake" class="hover-img")
  .loading-title Happy 50th Birthday dad!
  %br<
  %div
    %a{:href => "#", :class => "card"}<
      click me
    %br<
    %br<
    %p{:style => "display:none"}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin euismod magna sed pulvinar. Cras ullamcorper augue quis lorem vestibulum nec rhoncus mauris lobortis. Nam luctus, arcu eu pellentesque dictum, metus arcu fringilla nulla, eleifend ultricies neque nibh ullamcorper enim. In luctus diam et massa varius volutpat. Donec commodo bibendum elit fermentum condimentum. Nulla facilisi. Praesent consequat placerat ligula non sodales. In quam dolor, pellentesque ac elementum id, aliquam vel justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo aliquam scelerisque. Nam a est odio, et hendrerit libero. Sed pulvinar posuere velit vel sagittis. Phasellus non ipsum augue. Maecenas tempor est non lorem porta eget sollicitudin enim tempor. Phasellus vel elit ac purus vehicula luctus vitae sed nibh. Quisque bibendum ligula aliquam tellus commodo id suscipit ante molestie.

    %p{:style => "display:none"}
      Pellentesque tincidunt lectus a mi bibendum vitae condimentum leo dapibus. Nulla volutpat ullamcorper metus vel sodales. Pellentesque velit odio, malesuada et suscipit sed, aliquet vel urna. Mauris commodo lacus in ante semper eget luctus diam vestibulum. Vestibulum dolor quam, pretium in varius a, congue ac mi. Nulla sem odio, tincidunt ut aliquam vitae, egestas sed risus. Aliquam in nisi nec odio luctus eleifend. Donec fermentum auctor ligula, vel mattis ante viverra eu. Cras mattis lacus nunc, vehicula sagittis ligula. Sed eget adipiscing erat. Donec fermentum magna ipsum, et bibendum tortor. Ut porttitor velit ac ipsum pretium vulputate. Donec ultricies, eros in mattis dignissim, neque erat ullamcorper ligula, ac rutrum augue metus ac risus. Fusce sed posuere nibh.

/  
  #menu
    %ul 
      %li<
        %a{:href => "#"}<
          home
      %li<
        %a{:href => "#"}<
          albums
      %li< 
        %a{:href => "#"}<
          about
/
  #site
    #container
      -# Home
      #block_1{:class => "square square-1"}
        #polaroid
          %h1 Louis Lin
        %div.filmstrip.filmstrip-beg
        %div.filmstrip.filmstrip-01

