!!! Strict
%html
  %head
    %title A 50th birthday gift from a son to a father.
    
    / Metatags 
    %meta(name="author" content="waynelin.com")
    %meta(name="robots" content="index, follow")
    %meta(http-eqiv="Content-Type" content="text/html; charset=UTF-8")
    %meta(name="keywords" content="photography, louis, lin, louis lin, wayne, wayne lin")
    %meta(name="description" content="A picture speaks a thousand words.")
    
    / Stylesheets
    %link(rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection")
    /[if IE]
    
    
    /Javascripts
    %script{:type => "text/javascript",
            :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{:type => "text/javascript",
            :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js" }                       
    %script{:type => "text/javascript",
            :src => "scripts/jquery.metadata.min.js"}
    %script{:type => "text/javascript",
            :src => "scripts/jquery.swapimage.min.js"}
    %script{:type => "text/javascript",
            :src => "scripts/jquery.collapser.js"}
    
    :javascript 
      $(document).ready(function(){
        $.swapImage(".swapImage");
        $('.card').collapser({
        	target: 'siblings',
        	effect: 'slide',
        	expandHtml: 'Click Me',
        	collapseHtml: 'Hide Card',
        	expandClass: 'expArrow',
        	collapseClass: 'collArrow'
        });
        //alert("Hello World, Javascript now functional!!")
      });
    
  %body
    =yield
